cxf-poc/src/main/resources/personService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://cxf.insonix.com/" name="PersonService" targetNamespace="http://cxf.insonix.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.insonix.com/" elementFormDefault="unqualified" targetNamespace="http://cxf.insonix.com/" version="1.0">
<xs:element name="addPerson" type="tns:addPerson"/>
<xs:element name="addPersonResponse" type="tns:addPersonResponse"/>
<xs:element name="getAll" type="tns:getAll"/>
<xs:element name="getAllResponse" type="tns:getAllResponse"/>
<xs:element name="getPerson" type="tns:getPerson"/>
<xs:element name="getPersonResponse" type="tns:getPersonResponse"/>
<xs:element name="person" type="tns:person"/>
<xs:complexType name="addPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addPersonResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAll">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getAllResponse">
    <wsdl:part element="ns1:getAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPersonResponse">
    <wsdl:part element="ns1:addPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPerson">
    <wsdl:part element="ns1:addPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonResponse">
    <wsdl:part element="ns1:getPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part element="ns1:getPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAll">
    <wsdl:part element="ns1:getAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonService">
    <wsdl:operation name="addPerson">
      <wsdl:input message="ns1:addPerson" name="addPerson">
    </wsdl:input>
      <wsdl:output message="ns1:addPersonResponse" name="addPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input message="ns1:getAll" name="getAll">
    </wsdl:input>
      <wsdl:output message="ns1:getAllResponse" name="getAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input message="ns1:getPerson" name="getPerson">
    </wsdl:input>
      <wsdl:output message="ns1:getPersonResponse" name="getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>